/* Barra de navegación */

.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
    
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    margin-left: 80%;
}



@media screen and (max-width: 787px){
    .navbar-brand{
        display: none;
    }
}


/*pie de pagina footer*/

footer{
    min-height: 500px;

}

.footer-logo {

    margin-left: 47%;
    height: 85px;
    width: 85px;
    border-radius: 15px;
    box-shadow: 0 0 65px 0 #111;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;

}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2 ease-in;

}

.iconos-redes-sociales a:hover i{
    color: black ;
}
.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}


/* Tarjetas */


.tarjetas {
    padding: 40px 40px 60px 40px;
  }
  
  .tarjetas .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }
  
  .tarjetas .columna:hover {
    color: #fee;
    background-color: #f61;
  }
  
  .tarjetas i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .tarjeta-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badge {
    margin: 5px;
  }
  
